*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: Arial, Helvetica, sans-serif; 
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
     display: flex; 
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
}
button{
    width: 130px;
    height: 40px;
    background-color: blueviolet;
    color: #fff;
    border-radius: 10px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left h1{
    font-size: 50px;
    color: #504d4f;
    margin: 20px 0;
}
span{
    color: blueviolet;
}
p{
    color: slategray;
    font-size: 15px;
    margin: 20px 0;
}
.btn{
    width: 200px;
    height: 60px;
    background-color: #4c41ab;
    color: #fff;
    font-size: 15px;
    margin: 50px 0;
}
